<!DOCTYPE html>
<html>
  <head>
    <title>Simpleblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<nav class="navbar navbar-expand-md bg-light ">
  <a class="navbar-brand text-dark" href="#">Simpleblog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto  ">
      <li class="text-dark">
        <%= link_to "Home", home_path %> 
      </li>
    </ul>

      <ul class="navbar-nav  navbar-right">
      <li class="text-dark">
        <%= link_to "Create Post", new_post_path %> 
      </li>
    </ul>
    
  </div>
</nav>
  <div class="container">
  <%= yield %>
  </div>
    
  </body>
</html>
